<%- include('partials/header.ejs'); -%>
<div class="container-fluid">
    <div class="page-header">
        <h1 class="sup">
            SUPERHERO SHOWDOWN
        </h1>
    </div>
    <div class="jumbotron jumbotron-fluid text-center" background="Black">
        <div class="container">
            <h1 class="display-4"> Round 6</h1>
            <h2>
                 Combat
            </h2>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="<%=pic1%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=sh1%></h5>
                  <p class="card-text"><%=co1%></p>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="<%=pic2%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=sh2%></h5>
                  <p class="card-text"><%=co2 %></p>
                </div>
              </div>
        </div>
    </div>
</div>
<div style="height:800px;width: 800px; margin-top: 50px;margin-left: auto;margin-right: auto;[B]padding:20px 0;[/B]">
    <div class="jumbotron text-center">
                <%if(Number(co1)>Number(co2)){ %>
                    <h1 style="color: white;"><%=sh1%> had the last laugh!</h1>
                <%}else if(Number(co1)==Number(co2)){%>
                    <h1 style="color: white;">Its a tie</h1>
                <%}else{%>
                    <h1 style="color: white;"><%=sh2%> had the last laugh!</h1>
                <%}%>
                <a href="/" class="btn btn-danger" role="button">Play Again</a>
            </div>
            </div>
            
        </div>
    
</body>
</html>