<%- include('partials/header.ejs'); -%>
<div class="container-fluid">
    <div class="page-header">
        <h1 class="sup">
            SUPERHERO SHOWDOWN
        </h1>
    </div>
    <div class="jumbotron jumbotron-fluid text-center" background="Black">
        <div class="container">
            <h1 class="display-4"> Round 3</h1>
            <h2>
                 Speed
            </h2>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="<%=pic1%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center"><%=sh1%></h5>
                  <p class="card-text text-center"><%=sp1%></p>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="<%=pic2%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center"><%=sh2%></h5>
                  <p class="card-text text-center"><%=sp2 %></p>
                </div>
              </div>
        </div>
    </div>
</div>
<div style="height:800px;width: 800px; margin-top: 50px;margin-left: auto;margin-right: auto;[B]padding:20px 0;[/B]">
    <div class="jumbotron text-center">
            <h1><%=cnt1%>-<%=cnt2%></h1>
            <a href="/round4" class="btn btn-danger" role="button">Next Round</a>
        </div>
        </div>
            
            
        </div>
    
</body>
</html>