<%- include('partials/header.ejs'); -%>
<h1>Round 2!</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=pic1%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%=sh1%></h5>
                          <p class="card-text"><%=co1%></p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <h1>Vs</h1>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=pic2%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%=sh2%></h5>
                          <p class="card-text"><%=co2 %></p>
                        </div>
                      </div>
                </div>
            </div>

            <%if(Number(co1)>Number(co2)){ %>
                <h1><%=sh1%> had the last laugh!</h1>
            <%}else if(Number(co1)==Number(co2)){%>
                <h1>Its a tie</h1>
            <%}else{%>
                <h1><%=sh2%> had the last laugh!</h1>
            <%}%>
            <a href="/" role="button">Play Again</a>
            
        </div>
    
</body>
</html>